**/.idea/**

**/poetry.lock

**/.terraform/**
**/.terraform.lock.hcl
**/*.tfstate*
terraform.tfvars

*.env

docker_training/pg_data/**

**/.ipynb_checkpoints/**
*.ipynb

*.parquet

airflow_code/logs/**

dbt/logs/**
